@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
title,
button {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: theme("colors.main.text");
}

body {
    background-color: theme("colors.main.900");
}
